:root {
    --swiper-navigation-size: 17px !important;
    --swiper-theme-color: #fff !important;
  }


  $white-color: #fefefe;
  $pink-color: #ff9acb;
  $light-pink-color: #ffbcdd;
  $very-light-pink-color: #FFEEF6;
  $slider-pink: #FFDDEE;
  $card-slider: rgba(255, 255, 255, 0.8);
  $gray-color: #d9d9d933;
  $gray-color-nav: #F9F9F9;
  $light-gray-color: #cacaca;
  $black-color: #292d32;
  $slice-color:#575757;
  $price-color: #FF89C3;
  $cup-cake-gray: #E6EAEE;


